In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/to_predict.csv
/kaggle/input/cologne_combined_data_left.csv
/kaggle/input/cologne_combined_data.csv
/kaggle/input/RhineWaterLevelData/team9submission.csv
/kaggle/input/RhineWaterLevelData/weather_stations.csv
/kaggle/input/RhineWaterLevelData/station6335050_water_level.csv
/kaggle/input/RhineWaterLevelData/weather_data_cleaned.csv
/kaggle/input/RhineWaterLevelData/river_data.csv
/kaggle/input/RhineWaterLevelData/reference.csv
/kaggle/input/RhineWaterLevelData/river_stations.csv
/kaggle/input/RhineWaterLevelData/weather_data.csv

In [2]:
df = pd.read_csv('../input/cologne_combined_data_left.csv')
df.date = pd.to_datetime(df.date, format='%Y-%m-%d')
df['day_x'] = df.date.dt.day
df = df.set_index('date')
df.head()

,station_no,discharge,water_level,year_x,month_x,delta1,delta2,delta3,STATIONS_ID,RS,RSF,SH_TAG,NSH_TAG,year_y,month_y,day_x
date,,,,,,,,,,,,,,,,
1965-01-01,6335050,1320.0,219.0,1965,1,NaN,NaN,NaN,2968.0,1.2,1.0,0.0,0.0,1965.0,1.0,1
1965-01-02,6335050,1650.0,272.0,1965,1,-53.0,NaN,NaN,2968.0,0.3,1.0,0.0,0.0,1965.0,1.0,2
1965-01-03,6335050,1950.0,315.0,1965,1,-43.0,-96.0,NaN,2968.0,0.1,1.0,0.0,0.0,1965.0,1.0,3
1965-01-04,6335050,1870.0,304.0,1965,1,11.0,-32.0,-85.0,2968.0,0.0,7.0,0.0,0.0,1965.0,1.0,4
1965-01-05,6335050,1870.0,304.0,1965,1,0.0,11.0,-32.0,2968.0,1.2,1.0,0.0,0.0,1965.0,1.0,5

In [3]:
df_encoded = pd.get_dummies(df, columns=['year_x', 'month_x', 'day_x'])
df_encoded = df_encoded.fillna(0)
df_encoded.head()

,station_no,discharge,water_level,delta1,delta2,delta3,STATIONS_ID,RS,RSF,SH_TAG,...,day_x_22,day_x_23,day_x_24,day_x_25,day_x_26,day_x_27,day_x_28,day_x_29,day_x_30,day_x_31
date,,,,,,,,,,,,,,,,,,,,,
1965-01-01,6335050,1320.0,219.0,0.0,0.0,0.0,2968.0,1.2,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1965-01-02,6335050,1650.0,272.0,-53.0,0.0,0.0,2968.0,0.3,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1965-01-03,6335050,1950.0,315.0,-43.0,-96.0,0.0,2968.0,0.1,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1965-01-04,6335050,1870.0,304.0,11.0,-32.0,-85.0,2968.0,0.0,7.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1965-01-05,6335050,1870.0,304.0,0.0,11.0,-32.0,2968.0,1.2,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train, test = train_test_split(df_encoded, test_size=0.2, shuffle=False)

train_X = train.values[:-1, 2:]
train_Y = train.delta1.values[1:]
train_Y2 = train.delta2.values[1:]
train_Y3 = train.delta3.values[1:]

print(train_X.shape, train_Y.shape)
print(train_X[:10, :])
print(train_Y[:10])

(11912, 102) (11912,)
[[219.   0.   0. ...   0.   0.   0.]
 [272. -53.   0. ...   0.   0.   0.]
 [315. -43. -96. ...   0.   0.   0.]
 ...
 [272.   0.  18. ...   0.   0.   0.]
 [299. -27. -27. ...   0.   0.   0.]
 [370. -71. -98. ...   0.   0.   0.]]
[ -53.  -43.   11.    0.   14.   18.    0.  -27.  -71. -114.]

In [5]:
test_X = test.values[:-1, 2:]
test_Y = test.delta1.values[1:]
test_Y2 = test.delta2.values[1:]
test_Y3 = test.delta3.values[1:]

print(test_X.shape, test_Y.shape)

(2978, 102) (2978,)

In [6]:
def get_previous_days_data(station_no, date):
    date_prev = date - pd.Timedelta(days=1)
    res = df_encoded[(df_encoded.station_no == station_no) & (df_encoded.index == date_prev)]
    return res

In [7]:
regressors = []
for (trainY, testY) in zip([train_Y, train_Y2, train_Y3], [test_Y, test_Y2, test_Y3]):
    regr = RandomForestRegressor(n_estimators=100)
    regr.fit(train_X, trainY)
    predictions = regr.predict(test_X)
    print(r2_score(testY, predictions))
    regressors.append(regr)

0.3549192885465805
0.7970491906924719
0.8987159854401178

In [8]:
targets = pd.read_csv('../input/to_predict.csv')
targets.date = pd.to_datetime(targets.date, format='%Y-%m-%d')

In [9]:
delta1 = []
delta2 = []
delta3 = []
for (i, row) in targets.iterrows():
    if i%3 != 0:
        continue
    print(row)
    if row.station_no == '6335060':
        #TODO: We do not yet have the data for this station
        continue
    input_X = get_previous_days_data(row.station_no, row.date)
    input_X = input_X.values[:, 2:]
    delta1.append(regressors[0].predict(input_X))    
    delta2.append(regressors[1].predict(input_X))
    delta3.append(regressors[2].predict(input_X))

station_no                6335050
date          1965-04-17 00:00:00
Name: 0, dtype: object
station_no                6335050
date          1965-08-01 00:00:00
Name: 3, dtype: object
station_no                6335050
date          1965-11-15 00:00:00
Name: 6, dtype: object
station_no                6335050
date          1966-03-01 00:00:00
Name: 9, dtype: object
station_no                6335050
date          1966-06-15 00:00:00
Name: 12, dtype: object
station_no                6335050
date          1966-09-29 00:00:00
Name: 15, dtype: object
station_no                6335050
date          1967-01-13 00:00:00
Name: 18, dtype: object
station_no                6335050
date          1967-04-29 00:00:00
Name: 21, dtype: object
station_no                6335050
date          1967-08-13 00:00:00
Name: 24, dtype: object
station_no                6335050
date          1967-11-27 00:00:00
Name: 27, dtype: object
station_no                6335050
date          1968-03-12 00:00:00
Name: 30, dtype: object
station_no                6335050
date          1968-06-26 00:00:00
Name: 33, dtype: object
station_no                6335050
date          1968-10-10 00:00:00
Name: 36, dtype: object
station_no                6335050
date          1969-01-24 00:00:00
Name: 39, dtype: object
station_no                6335050
date          1969-05-10 00:00:00
Name: 42, dtype: object
station_no                6335050
date          1969-08-24 00:00:00
Name: 45, dtype: object
station_no                6335050
date          1969-12-08 00:00:00
Name: 48, dtype: object
station_no                6335050
date          1970-03-24 00:00:00
Name: 51, dtype: object
station_no                6335050
date          1970-07-08 00:00:00
Name: 54, dtype: object
station_no                6335050
date          1970-10-22 00:00:00
Name: 57, dtype: object
station_no                6335050
date          1971-02-05 00:00:00
Name: 60, dtype: object
station_no                6335050
date          1971-05-22 00:00:00
Name: 63, dtype: object
station_no                6335050
date          1971-09-05 00:00:00
Name: 66, dtype: object
station_no                6335050
date          1971-12-20 00:00:00
Name: 69, dtype: object
station_no                6335050
date          1972-04-04 00:00:00
Name: 72, dtype: object
station_no                6335050
date          1972-07-19 00:00:00
Name: 75, dtype: object
station_no                6335050
date          1972-11-02 00:00:00
Name: 78, dtype: object
station_no                6335050
date          1973-02-16 00:00:00
Name: 81, dtype: object
station_no                6335050
date          1973-06-02 00:00:00
Name: 84, dtype: object
station_no                6335050
date          1973-09-16 00:00:00
Name: 87, dtype: object
station_no                6335050
date          1973-12-31 00:00:00
Name: 90, dtype: object
station_no                6335050
date          1974-04-16 00:00:00
Name: 93, dtype: object
station_no                6335050
date          1974-07-31 00:00:00
Name: 96, dtype: object
station_no                6335050
date          1974-11-14 00:00:00
Name: 99, dtype: object
station_no                6335050
date          1975-02-28 00:00:00
Name: 102, dtype: object
station_no                6335050
date          1975-06-14 00:00:00
Name: 105, dtype: object
station_no                6335050
date          1975-09-28 00:00:00
Name: 108, dtype: object
station_no                6335050
date          1976-01-12 00:00:00
Name: 111, dtype: object
station_no                6335050
date          1976-04-27 00:00:00
Name: 114, dtype: object
station_no                6335050
date          1976-08-11 00:00:00
Name: 117, dtype: object
station_no                6335050
date          1976-11-25 00:00:00
Name: 120, dtype: object
station_no                6335050
date          1977-03-11 00:00:00
Name: 123, dtype: object
station_no                6335050
date          1977-06-25 00:00:00
Name: 126, dtype: object
station_no                6335050
date          1977-10-09 00:00:00
Name: 129, dtype: object
station_no                6335050
date          1978-01-23 00:00:00
Name: 132, dtype: object
station_no                6335050
date          1978-05-09 00:00:00
Name: 135, dtype: object
station_no                6335050
date          1978-08-23 00:00:00
Name: 138, dtype: object
station_no                6335050
date          1978-12-07 00:00:00
Name: 141, dtype: object
station_no                6335050
date          1979-03-23 00:00:00
Name: 144, dtype: object
station_no                6335050
date          1979-07-07 00:00:00
Name: 147, dtype: object
station_no                6335050
date          1979-10-21 00:00:00
Name: 150, dtype: object
station_no                6335050
date          1980-02-04 00:00:00
Name: 153, dtype: object
station_no                6335050
date          1980-05-20 00:00:00
Name: 156, dtype: object
station_no                6335050
date          1980-09-03 00:00:00
Name: 159, dtype: object
station_no                6335050
date          1980-12-18 00:00:00
Name: 162, dtype: object
station_no                6335050
date          1981-04-03 00:00:00
Name: 165, dtype: object
station_no                6335050
date          1981-07-18 00:00:00
Name: 168, dtype: object
station_no                6335050
date          1981-11-01 00:00:00
Name: 171, dtype: object
station_no                6335050
date          1982-02-15 00:00:00
Name: 174, dtype: object
station_no                6335050
date          1982-06-01 00:00:00
Name: 177, dtype: object
station_no                6335050
date          1982-09-15 00:00:00
Name: 180, dtype: object
station_no                6335050
date          1982-12-30 00:00:00
Name: 183, dtype: object
station_no                6335050
date          1983-04-15 00:00:00
Name: 186, dtype: object
station_no                6335050
date          1983-07-30 00:00:00
Name: 189, dtype: object
station_no                6335050
date          1983-11-13 00:00:00
Name: 192, dtype: object
station_no                6335050
date          1984-02-27 00:00:00
Name: 195, dtype: object
station_no                6335050
date          1984-06-12 00:00:00
Name: 198, dtype: object
station_no                6335050
date          1984-09-26 00:00:00
Name: 201, dtype: object
station_no                6335050
date          1985-01-10 00:00:00
Name: 204, dtype: object
station_no                6335050
date          1985-04-26 00:00:00
Name: 207, dtype: object
station_no                6335050
date          1985-08-10 00:00:00
Name: 210, dtype: object
station_no                6335050
date          1985-11-24 00:00:00
Name: 213, dtype: object
station_no                6335050
date          1986-03-10 00:00:00
Name: 216, dtype: object
station_no                6335050
date          1986-06-24 00:00:00
Name: 219, dtype: object
station_no                6335050
date          1986-10-08 00:00:00
Name: 222, dtype: object
station_no                6335050
date          1987-01-22 00:00:00
Name: 225, dtype: object
station_no                6335050
date          1987-05-08 00:00:00
Name: 228, dtype: object
station_no                6335050
date          1987-08-22 00:00:00
Name: 231, dtype: object
station_no                6335050
date          1987-12-06 00:00:00
Name: 234, dtype: object
station_no                6335050
date          1988-03-21 00:00:00
Name: 237, dtype: object
station_no                6335050
date          1988-07-05 00:00:00
Name: 240, dtype: object
station_no                6335050
date          1988-10-19 00:00:00
Name: 243, dtype: object
station_no                6335050
date          1989-02-02 00:00:00
Name: 246, dtype: object
station_no                6335050
date          1989-05-19 00:00:00
Name: 249, dtype: object
station_no                6335050
date          1989-09-02 00:00:00
Name: 252, dtype: object
station_no                6335050
date          1989-12-17 00:00:00
Name: 255, dtype: object
station_no                6335050
date          1990-04-02 00:00:00
Name: 258, dtype: object
station_no                6335050
date          1990-07-17 00:00:00
Name: 261, dtype: object
station_no                6335050
date          1990-10-31 00:00:00
Name: 264, dtype: object
station_no                6335050
date          1991-02-14 00:00:00
Name: 267, dtype: object
station_no                6335050
date          1991-05-31 00:00:00
Name: 270, dtype: object
station_no                6335050
date          1991-09-14 00:00:00
Name: 273, dtype: object

station_no                6335050
date          1991-12-29 00:00:00
Name: 276, dtype: object
station_no                6335050
date          1992-04-13 00:00:00
Name: 279, dtype: object
station_no                6335050
date          1992-07-28 00:00:00
Name: 282, dtype: object
station_no                6335050
date          1992-11-11 00:00:00
Name: 285, dtype: object
station_no                6335050
date          1993-02-25 00:00:00
Name: 288, dtype: object
station_no                6335050
date          1993-06-11 00:00:00
Name: 291, dtype: object
station_no                6335050
date          1993-09-25 00:00:00
Name: 294, dtype: object
station_no                6335050
date          1994-01-09 00:00:00
Name: 297, dtype: object
station_no                6335050
date          1994-04-25 00:00:00
Name: 300, dtype: object
station_no                6335050
date          1994-08-09 00:00:00
Name: 303, dtype: object
station_no                6335050
date          1994-11-23 00:00:00
Name: 306, dtype: object
station_no                6335050
date          1995-03-09 00:00:00
Name: 309, dtype: object
station_no                6335050
date          1995-06-23 00:00:00
Name: 312, dtype: object
station_no                6335050
date          1995-10-07 00:00:00
Name: 315, dtype: object
station_no                6335050
date          1996-01-21 00:00:00
Name: 318, dtype: object
station_no                6335050
date          1996-05-06 00:00:00
Name: 321, dtype: object
station_no                6335050
date          1996-08-20 00:00:00
Name: 324, dtype: object
station_no                6335050
date          1996-12-04 00:00:00
Name: 327, dtype: object
station_no                6335050
date          1997-03-20 00:00:00
Name: 330, dtype: object
station_no                6335050
date          1997-07-04 00:00:00
Name: 333, dtype: object
station_no                6335050
date          1997-10-18 00:00:00
Name: 336, dtype: object
station_no                6335050
date          1998-02-01 00:00:00
Name: 339, dtype: object
station_no                6335050
date          1998-05-18 00:00:00
Name: 342, dtype: object
station_no                6335050
date          1998-09-01 00:00:00
Name: 345, dtype: object
station_no                6335050
date          1998-12-16 00:00:00
Name: 348, dtype: object
station_no                6335050
date          1999-04-01 00:00:00
Name: 351, dtype: object
station_no                6335050
date          1999-07-16 00:00:00
Name: 354, dtype: object
station_no                6335050
date          1999-10-30 00:00:00
Name: 357, dtype: object
station_no                6335050
date          2000-02-13 00:00:00
Name: 360, dtype: object
station_no                6335050
date          2000-05-29 00:00:00
Name: 363, dtype: object
station_no                6335050
date          2000-09-12 00:00:00
Name: 366, dtype: object
station_no                6335050
date          2000-12-27 00:00:00
Name: 369, dtype: object
station_no                6335050
date          2001-04-12 00:00:00
Name: 372, dtype: object
station_no                6335050
date          2001-07-27 00:00:00
Name: 375, dtype: object
station_no                6335050
date          2001-11-10 00:00:00
Name: 378, dtype: object
station_no                6335050
date          2002-02-24 00:00:00
Name: 381, dtype: object
station_no                6335050
date          2002-06-10 00:00:00
Name: 384, dtype: object
station_no                6335050
date          2002-09-24 00:00:00
Name: 387, dtype: object
station_no                6335050
date          2003-01-08 00:00:00
Name: 390, dtype: object
station_no                6335050
date          2003-04-24 00:00:00
Name: 393, dtype: object
station_no                6335050
date          2003-08-08 00:00:00
Name: 396, dtype: object
station_no                6335050
date          2003-11-22 00:00:00
Name: 399, dtype: object
station_no                6335050
date          2004-03-07 00:00:00
Name: 402, dtype: object
station_no                6335050
date          2004-06-21 00:00:00
Name: 405, dtype: object
station_no                6335050
date          2004-10-05 00:00:00
Name: 408, dtype: object
station_no                6335050
date          2005-01-19 00:00:00
Name: 411, dtype: object
station_no                6335050
date          2005-05-05 00:00:00
Name: 414, dtype: object
station_no                6335050
date          2005-08-19 00:00:00
Name: 417, dtype: object
station_no                6335050
date          2005-12-03 00:00:00
Name: 420, dtype: object
station_no                6335050
date          2006-03-19 00:00:00
Name: 423, dtype: object
station_no                6335050
date          2006-07-03 00:00:00
Name: 426, dtype: object
station_no                6335050
date          2006-10-17 00:00:00
Name: 429, dtype: object
station_no                6335050
date          2007-01-31 00:00:00
Name: 432, dtype: object
station_no                6335050
date          2007-05-17 00:00:00
Name: 435, dtype: object
station_no                6335050
date          2007-08-31 00:00:00
Name: 438, dtype: object
station_no                6335050
date          2007-12-15 00:00:00
Name: 441, dtype: object
station_no                6335050
date          2008-03-30 00:00:00
Name: 444, dtype: object
station_no                6335050
date          2008-07-14 00:00:00
Name: 447, dtype: object
station_no                6335050
date          2008-10-28 00:00:00
Name: 450, dtype: object
station_no                6335050
date          2009-02-11 00:00:00
Name: 453, dtype: object
station_no                6335050
date          2009-05-28 00:00:00
Name: 456, dtype: object
station_no                6335050
date          2009-09-11 00:00:00
Name: 459, dtype: object
station_no                6335050
date          2009-12-26 00:00:00
Name: 462, dtype: object
station_no                6335050
date          2010-04-11 00:00:00
Name: 465, dtype: object
station_no                6335050
date          2010-07-26 00:00:00
Name: 468, dtype: object
station_no                6335050
date          2010-11-09 00:00:00
Name: 471, dtype: object
station_no                6335050
date          2011-02-23 00:00:00
Name: 474, dtype: object
station_no                6335050
date          2011-06-09 00:00:00
Name: 477, dtype: object
station_no                6335050
date          2011-09-23 00:00:00
Name: 480, dtype: object
station_no                6335050
date          2012-01-07 00:00:00
Name: 483, dtype: object
station_no                6335050
date          2012-04-22 00:00:00
Name: 486, dtype: object
station_no                6335050
date          2012-08-06 00:00:00
Name: 489, dtype: object
station_no                6335050
date          2012-11-20 00:00:00
Name: 492, dtype: object
station_no                6335060
date          1965-04-17 00:00:00
Name: 495, dtype: object

ValueError: Found array with 0 sample(s) (shape=(0, 102)) while a minimum of 1 is required.